body {
    margin: 0px auto;
    padding: 0px;
    width: 991px;
    background-color: #fff;
}
h1 {
    font-size: 55px;
    color: #383441;
}
p {
    font-size: 17px;
    color: #383441;
}
a {
    text-decoration: none;
}
/* about-myfocus section style-------------------------------------------------------*/
.half-width {
    width: 50%;
}
#about-myfocus {
    margin-top: 50px;
}
.display-flex {
    display: flex;
    align-items: flex-start;
}
#focus-info {
    margin-top: 50px;
}
#heading-item {
    display: flex;
    height: 160px; 
}
.border-bg {
    background: rgba(247, 85, 21, 0.952);
    width: 3px;
    margin-top: 57px;
    border-radius: 5px;
}
#heading-item h1 {
    padding-left: 10px;
}
#heading-item h1 span {
    color: orange;
}
#about-myfocus img {
    height: 550px;
    margin-left: 15%;
}
#about-myfocus .text-item {
    margin-top: 40px;
    width: 80%;
    text-align: justify;
}
.btn-style {
    background: rgba(247, 85, 21, 0.952);
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
/* My Mission Section ------------------------------------------------*/
#mission-info {

}
#mission-info h1 {
    text-align: center;
}
#mission-info span {
    color: orange;
}
.mytarget {
    display: flex;
    justify-content: space-between;
}
.mytarget div {
    width: 31%;
    margin-right: 4%;
    height: 320px;
    padding: 0px 15px;
    border-radius: 10px;
}
.mytarget div:last-child {
    margin-right: 0px;
}
.mytarget div img {
    width: 150px;
    padding-top: 10px;
    margin-bottom: 5px;
}
#myMission {
    background-color: lightblue;
}
#myVision {
    background-color:#FDE2E2;
}
#myGoal {
    background-color: orange;
}


