body {
    margin: 0px auto;
    padding: 0px;
    background-color: #fff;
}
h1 {
    font-size: 55px;
    color: #383441;
}
h2 {
    font-size: 45px;
    color: #383441;
}

p {
    font-size: 18px;
    color: #383441;
}
a {
    text-decoration: none;
}
#set-width {
    width: 991px;
    margin: 0 auto;
}
/* about-myfocus section style-------------------------------------------------------*/
.half-width {
    width: 50%;
}
#about-myfocus {
    margin-top: 50px;
}
.display-flex {
    display: flex;
    align-items: flex-start;
}
#focus-info {
    margin-top: 50px;
}
#heading-item {
    display: flex;
    height: 160px; 
}
.border-bg {
    background: rgba(247, 85, 21, 0.952);
    width: 3px;
    margin-top: 57px;
    border-radius: 5px;
}
#heading-item h1 {
    padding-left: 10px;
}
#heading-item h1 span {
    color: orange;
}
#about-myfocus img {
    height: 550px;
    margin-left: 15%;
}
#about-myfocus .text-item {
    margin-top: 40px;
    width: 80%;
    text-align: justify;
}
.btn-style {
    background: rgba(247, 85, 21, 0.952);
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
/* My Mission Section ------------------------------------------------*/
.mission-h1 {
    text-align: center;
}
#mission-info span {
    color: orange;
}
.mytarget {
    display: flex;
    justify-content: space-between;
}
.mytarget div {
    width: 31%;
    margin-right: 4%;
    height: 320px;
    padding: 0px 15px;
    border-radius: 10px;
}
.mytarget div:last-child {
    margin-right: 0px;
}
.mytarget div img {
    width: 150px;
    padding-top: 10px;
    margin-bottom: 5px;
}
#myMission {
    background-color: lightblue;
}
#myVision {
    background-color:#FDE2E2;
}
#myGoal {
    background-color: #fff6de;
}
#develop-myself {
    margin-top: 80px;
}
#develop-myself .img {
    width: 45%;
}
#develop-item {
    margin-left: 5%;
    width: 50%;
}
#myteam {
    margin-top: 80px;
}
#myteam .img {
    width: 35%;
    margin-left: 10%;
}
#team-item {
    margin-right: 5%;
    width: 60%;
}
#bg-absolute {
    position: absolute;
    left: 180px;
    width: 220px;
    height: 220px;
    z-index: -1;
    top: 1220px;
}
#bg-absolute2 {
    position: absolute;
    right: 180px;
    width: 180px;
    height: 180px;
    z-index: -1;
    top: 1920px;
}

/* skills section ------------------------------------*/
#about-skills {
    margin-top: 120px;
}
#about-skills h1 {
    text-align: center;

    margin-bottom: 60px;
}
#about-skills span {
    color: orange;
}
#skills-info img {
    width: 100%;
    margin-top: -100px;
}


/* footer section ----------------------------------*/
#footer {
    background-color: #000;
    text-align: center;
}
#footer h1 {
    padding-top: 30px;
    font-style: italic;
    color: #fff;
    font-size: 35px;
}
#footer span { 
    font-style: normal;
    color: rgb(246 143 38);
}
#footer p {
    color: #fff;
    padding-bottom: 30px;
}






